
@{
    ViewBag.Title = "AddCart";
    Layout = "~/Views/Shared/_LayoutAddCartPage.cshtml";
}

<h2>AddCart</h2>

<p>Integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit.</p>

<hr />

@Html.ActionLink("PlatformLink","Platform","Home2")
<!--Burada ki htmller _LayoutAddCartPagedeki RenderBody()e yerleşecek-->