
@{
    ViewBag.Title = "Platform";
    Layout = "~/Views/Shared/_LayoutAddCartPage.cshtml";
}

<h2>Platform</h2>

<!--Controller ismini HomeController2 verirsen view altında aynı isimle klasör oluşuyor. Controller ismi Home2Controller olmalı bu durumda Home2 diye bir klasör oluşuyor View altında. Diğer türlü path hatalı olacağı için bu sayfa web tarafında çalışmayacaktır. İsimlendirmeyi VS otomatik yaptığı için bu tarz durumlara dikkat et!-->
