
@{
    ViewBag.Title = "Managers";
}

<h2>Managers Page</h2>

<div>
    <b>Ad - Soyad :</b>
    @ViewBag.text1
    <br />
    <b>Bool veri türü : </b>
    @ViewBag.check1
    <br />
    <!--ViewBag yorumlayınca çalışıyor bir daha run etmen gerekebilir. Viewbag'de değişiklik yaparsan eğer.
        İşin kötüsü Viewbag'e ait tüm alanlar çalışmıyor bu durumda.-->

    @Html.ActionLink("GamersLink","Gamers","Home5")
</div>