@{
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<!--_LayoutAddCartPage LayoutHomePageden türüyor.-->
<!--O zaman burada yazacağım htmller LayoutHomePagedeki RenderBody()e yerleşecek.-->

<div class="block2" style="width:660px">

    <!--block2 zaten türemiş olduğum layout içerisinde olduğu için sıkıntı yok.-->
    <!--Bu LayoutAddCartPage kullananan Viewlar burada ki RenderBody()e yerleşecek.-->
    @RenderBody()

</div>

<div class="block2" style="float:none">
    <h4>
        <ul>
            <li>02642567890</li>
            <li>02642567890</li>
            <li>02642567890</li>
        </ul>
    </h4>
    <!--Bu kodlar LayoutHomePagedeki RenderBody()e yerleşecek-->
</div>