<h4>
    Faydalı Linkler
</h4>

<hr />

<ul>
    <li>
        <a href="#">Sit amet, consectetur.</a>
    </li>
    <li>
        <a href="#">Adipiscing elit fusce.</a>
    </li>
    <li>
        <a href="#">Vel sapien elit.</a>
    </li>
    <li>
        <a href="#">In malesuada semper.</a>
    </li>
    <li>
        <a href="#">Mi, id sollicitudin.</a>
    </li>
</ul>

<!--Partial View dosyasının olduğu yer önemli. Tüm view dosyaları kullanabilsin diye Shared altına koydum.-->

<!--Home4 klasörüne koysaydım eğer Home2 klasörüne ait view dosyaları bu partial klasörünün kullanamazdı Home4
    klasörüne ait viewlar kullanabilirdi sadece.-->

<!--Home4 olan partial viewı Home 2 de kullanmam gerekirse eğer Html.Partial("../Home4/PartialView")
    .. ile bulunduğum klasörden bir klasör yukarı çıkıp Home4e kullanmak istediğim partial view dosyasını bulmaya gidiyorum.
    Aynı durum pathi düzenleme işi vs. RenderPartial metodu içinde geçerli.-->