
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<div>
    <ul>
        <li>
            <p> Yazı yaz</p>
        </li>
    </ul>
</div>

<div class="style1"></div>
<div id="mydiv"></div>
<ul>
    <li class="item"></li>
    <li class="item"></li>
    <li class="item"></li>
    <li class="item"></li>
    <li class="item"></li>
</ul>

<ul>
    <li class="item1"></li>
    <li class="item2"></li>
    <li class="item3"></li>
    <li class="item4"></li>
    <li class="item5"></li>
</ul>

<ul>
    <li class="item01"></li>
    <li class="item02"></li>
    <li class="item03"></li>
    <li class="item04"></li>
    <li class="item05"></li>
</ul>

<div>In malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl.</div>

<a href="" class="lorem2"></a>

<a href="" class="btn btn-success">Dolor sit.</a>

<ul>
    <li>
        <p>Sit amet, consectetur.</p>
    </li>
</ul>
<hr />

(<ul>
    <li>
        <p>Sit amet, consectetur.</p>
    </li>
</ul>
<hr />

<ul>
    <li>
        <p>Sit amet, consectetur.</p>
    </li>
</ul>
<ul>
    <li>
        <a href="">Ipsum.</a>
    </li>
</ul>
<hr />
<br />