
@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_LayoutCampaignsPage.cshtml";
}

<h2>Comments</h2>

<p>Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.</p>
<p>Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor.</p>
<ul>
    <li>Consectetur adipiscing elit fusce vel.</li>
    <li>Sapien elit in malesuada semper.</li>
    <li>Mi, id sollicitudin urna fermentum.</li>
    <li>Ut fusce varius nisl ac.</li>
    <li>Ipsum gravida vel pretium tellus.</li>
</ul>

@section links{
    <li>@Html.ActionLink("CampaignsPage", "Campaigns", "Home2")</li>
}

@section footer{
    <b>Bu sayfayı kopyalayabilirsiniz.</b>
}