
@{
    ViewBag.Title = "Notes";
}

<h2>Notes</h2>

<button id="btnLoad" type="button" class="btn btn-success">Verileri Yükle</button>
<br />
@*<input id="txtData" type="text" class="form-control" placeholder="Veri Giriniz..." style="width:200px;" />
<button id="btnLoad2" type="button" class="btn btn-success">Verileri Gönder &amp; Yükle</button>*@

<hr />

<div id="loading" class="alert alert-warning" style="display:none;">Yükleniyor...</div>

<ul id="list" class="list-group">
</ul>

<script>
    $(function () {

        $("#btnLoad").click(function () {

            $.ajax({
                method: "GET",
                url: "/Home9/GetDatas",
                beforeSend: function () {
                    $("#list").empty();
                    $("#loading").show(300);
                }
            }).done(function (d) {
                $("#list").html(d);
            }).fail(function () {
                alert("Hata oluştu...");
            }).always(function () {
                $("loading").hide(300);
            });

        });

    });
    //beforeSend ajax talebi gönderilmeden çalıştırılacak olan function'ı alıyor.
</script>